/* styles.css
FOR USE WITH PAGES ON MATLAB MARINA WEBSITE
CREATED BY: TYLER RUTLAND, ERIK LEON, PETER DRINOVAK, JEREMY BROWN
SEPTEMBER 6, 2015 
*/
h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: normal;
    font-size: 1.75em;
    text-decoration: none;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin: 0px;
}

h1 a {
    color: #042C62;
    text-decoration: none;
}

#MATLAB, .logo_color {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-block;
    text-rendering: optimizeLegibility;
}

#MATLAB {
    text-decoration: overline;
    color: #042C62;
    padding-top: 1%;
}

#slogan {
    font-style: italic;
    margin-top: 0px;
    font-style: italic;
    margin-top: 0px;
    background: -webkit-linear-gradient(#000, #6C6E70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo_color {
    color: #0AA0D9;
    padding: 0px;
    font-weight: bold;
}

footer {
    margin: 0 auto;
}

footer a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 73%;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 0 1em;
}

ul {
    list-style-type: none;
    margin-left: -2em;
}

.pure-g {
    letter-spacing: normal;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 2px dashed #bbb;
}

#menu {
    display: none;
}

#menu-toggle {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.2s ease;
}

#nav-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    transition: left 0.2s ease;
    overflow: auto;
}

.slicknav_btn {
    display: none;
}

.sidebar-links {
    margin: 0 auto;
    padding-bottom: 5px;
}

.sidebar-links li a:link, .sidebar-links li a:visited {
    text-decoration: none;
    color: inherit;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s; /* ...and now for the proper property */;
    transition: .5s;
}

.sidebar-links li a:hover {
    color: #099DD5;
}

/*.slicknav_parent ul li:first-child a {
    font-weight: 600;
    color: #EBB035;
}*/

/* BEGIN PHONE SCREEN SETTINGS */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
        margin-bottom: 2%;
    }

    p {
        text-align: justify;
    }

    .container {
        margin-left: 0px;
        margin-top: 2em;
        max-width: 100%;
        background-color: #fff;
        background-image: -webkit-repeating-linear-gradient(45deg, rgba(0, 191, 255, .1), rgba(0, 191, 255, .1) 1px, transparent 1px, transparent 15px), -webkit-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .1), rgba(255, 105, 180, .1) 1px, transparent 1px, transparent 15px);
        background-image: -moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .1), rgba(0, 191, 255, .1) 1px, transparent 1px, transparent 15px), -moz-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .1), rgba(255, 105, 180, .1) 1px, transparent 1px, transparent 15px);
        background-image: -o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .1), rgba(0, 191, 255, .1) 1px, transparent 1px, transparent 15px), -o-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .1), rgba(255, 105, 180, .1) 1px, transparent 1px, transparent 15px);
        background-image: repeating-linear-gradient(45deg, rgba(0, 191, 255, .1), rgba(0, 191, 255, .1) 1px, transparent 1px, transparent 15px), repeating-linear-gradient(-45deg, rgba(255, 105, 180, .1), rgba(255, 105, 180, .1) 1px, transparent 1px, transparent 15px);
    }

    .container li {
        margin-bottom: 10px;
    }

    #main-content {
        width: 100%;
        border: none;
    }

    #nav-container {
        margin-top: 2em;
        display: block;
        left: -200px;
        background-color: white;
        overflow-y: scroll; /* has to be scroll, not auto */;
        -webkit-overflow-scrolling: touch;
        border-right: 2px dashed #bbb;
    }

    #nav-container li a, #nav {
        color: black;
    }

    #nav-container.active {
        left: 0;
    }

    #nav-container.active {
        left: 0;
    }

    #menu-toggle {
        left: 0;
        position: fixed;
    }

    #menu-toggle {
        left: 0;
        position: fixed;
        display: block;
        width: 100%;
        height: 2em;
        background-color: #042c62;
        box-shadow: none;
    }

    #menu-toggle button {
        color: white;
        background-color: transparent;
        border: none;
        padding: 0.5em;
        box-sizing: border-box;
    }

    #menu-toggle button:focus {
        color: #90cfd5;
    }

    #menu-toggle.active {
        left: 200px;
    }

    #MATLAB, .logo_color {
        font-size: 1.75em;
    }

    #MATLAB {
        text-decoration: overline;
        color: #042C62;
        padding-top: 1%;
    }

    h1, h2 {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: -10px;
    }

    #slogan {
        display: none;
    }

    .sidebar-links li {
        text-align: center;
    }

}

/* END PHONE SCREEN SETTINGS */
/* BEGIN DESKTOP SCREEN SETTINGS */
@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/wallpaper.jpg");
    }

    #menu-toggle {
        display: none;
    }

    #MATLAB, .logo_color {
        font-size: 2.75em;
    }

    .container {
        margin: -1px auto 0;
        min-width: 73%;
        background-color: rgba(255, 255, 255, 1.0);
        border-bottom: 2px dashed #bbb;
        margin-left: 200px;
    }

    #main-content {
        border-right: 2px dashed #bbb;
        max-width: 75%;
        padding-right: 20px;
    }

    #nav-container li a:link {
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s; /* ...and now for the proper property */;
        transition: .5s;
    }

    .sidebar-links li {
        margin-left: 10px;
        padding-bottom: 5px;
    }

    ul {
        list-style-type: square;
    }
}

/* END DESKTOP SCREEN SETTINGS */
