ul {
    list-style-type: none;
    margin-left: -2em;
}

.pure-g {
    letter-spacing: normal;
}

#menu {
    display: none;
}

#menu-toggle {
    display: inline-block;
    margin-left: 200px;
}

#nav-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #4c4c4c;
}

.container {
    margin-left: 200px;
}

.slicknav_btn {
    display: none;
}

.container {
    padding: 0 1em;
}

.sidebar-links li{
    margin: 0.5em 0;
}

@media screen and (max-width: 768px){
    .container {
        margin-left: 0px;
    }

    #nav-container {
        display: none;
    }

    #nav-container.active {
        display: block;
    }

    #menu-toggle {
        margin-left: 0;
    }

}
